html,
body,
.jumbotron {
  height: 100%;
}

.navbar {
  background-color: rgba(2, 2, 2, 0.7);
}

button.navbar-toggler {
  border: none;
}

li.nav-item:hover {
  background: #222;
}

.jumbotron {
  background-image: url("img_lights.jpg");
  background-size: cover;
  display: table;
  width: 100%;
  color: white;
}

.jumbotron > .container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 10%;
}

.jumbotron > .container > h1 {
  font-size: 70px;
  letter-spacing: -3px;
}

#team img {
  width: 100px;
  height: 100px;
}

.testimonial {
  background: #222;
  margin-top: -33px;
  padding: 10px;
}

blockquote {
  border: none;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 24px;
  color: white;
}

cite {
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  color: #888;
}

section {
  padding: 50px;
}

section h2 {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: bold;
}

h2 + p {
  text-align: center;
  margin-top: -50px;
}

#team {
  background-image: url("photographer.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer a {
  color: hotpink;
}

@media only screen and (max-width: 580px) {
  .nav-link {
    border-bottom: 1px solid white;
  }

  .jumbotron > .container > h1 {
    font-size: 40px;
  }
  .jumbotron > .container {
    padding: 0 5%;
  }
  section {
    padding: 20px;
  }
  footer {
    padding: 10px;
  }
  #signup h2 {
    font-size: 20px;
  }
  #signup p {
    font-size: 12 px;
  }
}
